/* connecting google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*initialize font */
:root {
  --main-font: 'Roboto', sans-serif;
}

body {
  background: red;
  font-family: var(--main-font);
}
